html, body {
	height: 100%;
	font-family: monospace;
	background-color: black;
}

.granted {
	color: #20C20E;
}

.denied{
	color: maroon;
}

body {
	margin: 0;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
}
